@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


.spin-row {
    /* border: 5px solid #f7df08; */

}

.wrap1 {
    max-width: 100%;
    min-height: 500px;
    background-color: #DDEAFA;
    padding-top: 2rem;

    /* border: 5px solid #08f3f7; */



}

/* .igl {
    border: 5px solid #30f708;
} */

.tlt {
    position: absolute;
    /* border: 5px solid #f70828; */
    border-radius: 50%;
    background-color: #6159E6;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 46.5%;

    margin-top: -24% !important;

}

.fpi {
    border-radius: 10px;
    max-width: 60px;

}

.think {
    /* border: 5px solid #0818f7; */
    /* margin-left: 100rem;
    margin: auto; */
}

.lite {
    /* border: 5px solid #f708b3; */
    max-width: 40% !important;
    min-height: 400px;
    /* margin: auto; */
    padding: 0;

}

#wheel {
    /* border: 5px solid #3c1803; */


}

.btn {
    border-color: #3F3D56;
    background-color: #3F3D56 !important;
    color: #3F3D56;
    border-radius: 3px;
    margin-top: 3rem;

}


.btn:hover {
    border-color: #3F3D56;
    background-color: #3F3D56;
}

#final-value {
    margin-top: 0.5em;
    font-size: 30px;
    text-align: center;
    color: #3F3D56;
    font-weight: bolder;
}

.spin-row {
    background-color: #DDEAFA;
}

@media all and (max-width: 640px) {
    .wrap1 {
        padding: 0;
        margin: 0;
    }

    .tlt {
        display: none;
    }

    .lite {
        /* border: 5px solid #03501a; */
        max-width: 100% !important;
        min-height: 400px;
        /* margin: auto; */
        padding: 0;
        padding-top: 5rem;

    }

    .fpi {
        border-radius: 10px;
        max-width: 50px;

    }
}